/* Barra de navegacion */

.navbar {
    padding: 1rem;
    background-color: #eec71b;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}