/* Barra de navegacion */

.navbar {
    padding: 1rem;
    background-color: #eec71b;
    font-family: 'Playfair', serif;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Estilos generales */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Playfair', serif;
}

h2 {
    font-size: 1rem;
    font-family: 'Playfair', serif;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Playfair', serif;
}

.seccion-oscura {
    color: aliceblue;
    background-color: #b59505;
}

.seccion-oscura1 {
    color: aliceblue;
    background-color: #856f0b;
}

.seccion-clara {
    color: rgb(7, 7, 7);
    background-color: #d8d87d;
}

.seccion-titulo {
    font-size: 2.8rem;
    padding: 15px 0;
    font-family: 'Playfair', serif;
}

.seccion-texto {
    font-size: 1.6rem;
}


/* Seccion Hero */

.hero {
    background-color: rgb(133, 135, 135);
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 2rem;
}

.hero-principal h1 {
    color: #f9f4f4;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #f6f3f3;
}

/* seccion productos */

.productos {
    padding: 40px 40px 80px 40px;
}

.productos .carousel {
    max-width: 700px;
}

.carousel-item {
    height: 400px;
}

.carousel-conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* seccion produccion */

.produccion {
    height: 500px;
    padding: 20px;
} 

.produccion .contenedor {
    max-width: 700px;
    text-align: center;
}

/* seccion cultivo */

.cultivo {
    height: 500px;
    padding: 20px;
} 

.cultivo .contenedor {
    max-width: 700px;
    text-align: center;
}


/* Adaptable (Responsivo) */

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}