/* Barra de navegacion */

.navbar {
    padding: 1rem;
    background-color: #eec71b;
    font-family: 'Playfair', serif;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Estilos generales */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Playfair', serif;
}

h2 {
    font-size: 1rem;
    font-family: 'Playfair', serif;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Playfair', serif;
}

.seccion-oscura {
    color: aliceblue;
    background-color: #b59505;
}

.seccion-oscura1 {
    color: aliceblue;
    background-color: #856f0b;
}

.seccion-oscura2 {
    color: aliceblue;
    background-color: #5741a0;
}

.seccion-clara {
    color: rgb(7, 7, 7);
    background-color: #d8d87d;
}

.seccion-titulo {
    font-size: 2.8rem;
    padding: 15px 0;
    font-family: 'Playfair', serif;
}

.seccion-texto {
    font-size: 1.6rem;
}


/* Seccion Hero */

.hero {
    background-color: rgb(133, 135, 135);
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 2rem;
}

.hero-principal h1 {
    color: #f9f4f4;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #f6f3f3;
}

/* seccion productos */

.productos {
    padding: 40px 40px 80px 40px;
}

.productos .carousel {
    max-width: 700px;
}

.productos-imagen {
    height: 500px;
    width: 750px;
    margin: 10px 10px 20px 10px;
}

.carousel-item {
    height: 400px;
}

.carousel-item .carousel-conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* seccion produccion */

.produccion {
    height: 500px;
    padding: 20px;
} 

.produccion .contenedor {
    max-width: 700px;
    text-align: center;
}

/* seccion cultivo */

.cultivo {
    height: 500px;
    padding: 20px;
} 

.cultivo .contenedor {
    max-width: 700px;
    text-align: center;
}

/* seccion beneficios */

.beneficios {
    height: 500px;
    padding: 20px;
} 

.beneficios .contenedor {
    max-width: 700px;
    text-align: center;
}

/* Contacto */

.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo {
    margin-top: -5rem;
    background-color:  #271466;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px whitesmoke;
}

.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion {
    color: aliceblue;
    font-size: 1.2rem;
}

.contacto button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover {
    background-color: white;
    color: black;
}

.contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
    color: black;
}

/* Pie de pagina(footer) */

footer {
    min-height: 180px;
}

.seccion-footer {
    height: 130px;
    background-color: rgb(166, 187, 141);
}
.seccion-footer1 {
    height: 160px;
    background-color: rgb(234, 231, 177);
}

.seccion-titulo-footer{
    color: #ffffff;
}

.description-footer{
    color: #ffffff;
}

.footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30;
    font-family: 'Quicksand', sans-serif;
} 

.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid rgb(60, 98, 85);
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: rgb(60, 98, 85);
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(110, 190, 162);
} 

.iconos-redes-sociales a:hover i {
    color: rgb(60, 98, 85);
}

.derechos-de-autor {
    font-size: 15px;
    color:rgb(60, 98, 85);
    padding: 20px;  
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .productos-imagen {
        height: 300px;
        width: 450px;
    }
}

@media screen and (max-width: 500px) {
    .productos-imagen {
        height: 200px;
        width: 300px;
    }
}